<label for="radio{{modifierclass}}" class="tks-control tks-radio">
  <input type="radio" id="radio{{modifierclass}}" name="radio" value="radio-value{{modifierclass}}" {{state}}>
  <span class="tks-control__indicator"></span> Radio Input
</label>