<div class="clearfix">
  <form class="tks-searchform">

    <label for="" class="tks-searchform__label">
      <span aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="tks-searchform__icon"><path d="M18.87 19.162l-5.944-6.484C14.266 11.278 15 9.445 15 7.5c0-2.003-.78-3.887-2.196-5.303S9.504 0 7.5 0 3.615.78 2.2 2.197 0 5.497 0 7.5s.78 3.887 2.198 5.303S5.498 15 7.5 15c1.727 0 3.363-.58 4.69-1.645l5.942 6.483c.1.108.233.162.37.162.12 0 .24-.043.337-.13.203-.188.216-.504.03-.707zM1 7.5C1 3.916 3.916 1 7.5 1S14 3.916 14 7.5 11.084 14 7.5 14 1 11.084 1 7.5z"/></svg>
      </span> Search
    </label>

    <input type="search" class="tks-searchform__input" id="" placeholder="Search existing contacts" required>

  </form>
</div>