<label for="">Categories</label>
<select name="select">
  <option value="value1" selected>Good Fit</option> 
  <option value="value2">Renewal</option>
  <option value="value3">Slam dunk</option>
  <option value="value3">Speculative</option>
  <option value="value3">Strategic</option>
</select>