<a href="/"><svg version="1.1"
   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 240 231.9">
<polygon fill="#231F20" stroke="#231F20" stroke-width="-1" points="0,188.9 56.6,158.4 53.9,150.1 "/>
<polygon fill="#58595B" stroke="#58595B" stroke-width="-1" stroke="#231F20" stroke-width="-1" points="0,188.9 45.1,147 53.9,150.1 "/>
<polygon fill="#A3DDF8" stroke="#A3DDF8" stroke-width="-1" points="52.5,129.5 53.9,150.1 45.1,147 "/>
<polygon fill="#47B3DE" stroke="#47B3DE" stroke-width="-1" points="84.6,110.1 73.9,133.3 70,131.8 "/>
<polygon fill="#A3DDF8" stroke="#A3DDF8" stroke-width="-1" points="52.5,129.5 84.6,110.1 70,131.8 "/>
<polygon fill="#6D6E70" stroke="#6D6E70" stroke-width="-1" points="63.1,140.2 70,142.8 70,138.4 "/>
<polygon fill="#404041" stroke="#404041" stroke-width="-1" points="75.6,139.7 70,138.4 70,142.8 "/>
<polygon fill="#2A426A" stroke="#2A426A" stroke-width="-1" points="70,134.7 70,131.8 73.9,133.3 "/>
<polygon fill="#47B3DE" stroke="#47B3DE" stroke-width="-1" points="71.5,154.9 56.6,158.4 63.1,140.2 70,142.8 "/>
<polygon fill="#47B3DE" stroke="#47B3DE" stroke-width="-1" points="83,135.5 84.2,156.8 71.5,154.9 "/>
<polygon fill="#1697CB" stroke="#1697CB" stroke-width="-1" points="73.9,133.3 75.6,139.7 83,135.5 "/>
<polygon fill="#1697CB" stroke="#1697CB" stroke-width="-1" points="70,142.8 83,135.5 71.5,154.9 "/>
<polygon fill="#58595B" stroke="#58595B" stroke-width="-1" stroke-width="-1" points="70,138.4 73.9,133.3 75.6,139.7 "/>
<polygon fill="#404041" stroke="#404041" stroke-width="-1" points="63.1,140.2 70,134.7 70,131.8 "/>
<polygon fill="#A6A8AB" stroke="#A6A8AB" stroke-width="-1" points="63.1,140.2 70,138.4 73.9,133.3 70,134.7 "/>
<polygon fill="#1697CB" stroke="#1697CB" stroke-width="-1" points="63.1,140.2 52.5,129.5 70,131.8 "/>
<polygon fill="#47B3DE" stroke="#47B3DE" stroke-width="-1" points="53.9,150.1 63.1,140.2 52.5,129.5 "/>
<polygon fill="#1697CB" stroke="#1697CB" stroke-width="-1" points="56.6,158.4 63.1,140.2 53.9,150.1 "/>
<polygon fill="#A3DDF8" stroke="#A3DDF8" stroke-width="-1" points="73.9,133.3 84.6,110.1 83,135.5 "/>
<polygon fill="#47B3DE" stroke="#47B3DE" stroke-width="-1" points="83,135.5 98.4,131.8 84.6,110.1 "/>
<polygon fill="#A3DDF8" stroke="#A3DDF8" stroke-width="-1" points="83,135.5 98.4,131.8 97.9,157.2 84.2,156.8 "/>
<polygon fill="#A3DDF8" stroke="#A3DDF8" stroke-width="-1" points="112.2,120 98.4,131.8 84.6,110.1 "/>
<polygon fill="#3B5B93" stroke="#3B5B93" stroke-width="-1" points="98.4,131.8 111.3,152 97.9,157.2 "/>
<polygon fill="#B05B30" stroke="#B05B30" stroke-width="-1" points="113.5,193.4 84.2,156.8 97.9,157.2 "/>
<polygon fill="#2A426A" stroke="#2A426A" stroke-width="-1" points="111.3,152 98.4,131.8 122.3,135.5 "/>
<polygon fill="#1697CB" stroke="#1697CB" stroke-width="-1" points="119.1,124.2 137.9,134.7 122.3,135.5 "/>
<polygon fill="#3B5B93" stroke="#3B5B93" stroke-width="-1" points="137.9,134.7 130.7,142.8 122.3,135.5 "/>
<polygon fill="#3B5B93" stroke="#3B5B93" stroke-width="-1" points="122.3,135.5 98.4,131.8 112.2,120 119.1,124.2 "/>
<polygon fill="#F68E1E" stroke="#F68E1E" stroke-width="-1" points="121.1,197.1 113.5,193.4 97.9,157.2 111.3,152 "/>
<polygon fill="#F68E1E" stroke="#F68E1E" stroke-width="-1" points="156.7,162.2 126.5,148.5 130.7,142.8 154.8,156.6 "/>
<polygon fill="#B05B30" stroke="#B05B30" stroke-width="-1" points="126.5,148.5 111.3,152 122.3,135.5 130.7,142.8 "/>
<polygon fill="#F2E926" stroke="#F2E926" stroke-width="-1" points="135.7,187 111.3,152 204.8,199.2 "/>
<polygon fill="#B05B30" stroke="#B05B30" stroke-width="-1" points="204.8,199.2 200.2,214.4 127.2,200.1 "/>
<polygon fill="#F68E1E" stroke="#F68E1E" stroke-width="-1" points="204.8,199.2 218.1,231.9 200.2,214.4 "/>
<polygon fill="#B05B30" stroke="#B05B30" stroke-width="-1" points="218.1,231.9 204.8,199.2 229.5,231.9 "/>
<polygon fill="#2A426A" stroke="#2A426A" stroke-width="-1" points="229.5,231.9 204.8,199.2 212.4,183.2 "/>
<polygon fill="#F68E1E" stroke="#F68E1E" stroke-width="-1" points="201.2,153 148.8,122.5 150.4,98 "/>
<polygon fill="#F3B51A" stroke="#F3B51A" stroke-width="-1" points="201.2,153 150.4,98 208.2,110.1 "/>
<polygon fill="#1697CB" stroke="#1697CB" stroke-width="-1" points="225.4,89.1 192.7,64.6 226.4,9.6 "/>
<polygon fill="#A3DDF8" stroke="#A3DDF8" stroke-width="-1" points="192.3,19.7 111.3,78.6 162.8,0 "/>
<polygon fill="#A3DDF8" stroke="#A3DDF8" stroke-width="-1" points="225.4,89.1 226.4,9.6 240,28.4 "/>
<polygon fill="#47B3DE" stroke="#47B3DE" stroke-width="-1" points="160.1,90.4 150.4,98 148.8,122.5 111.3,78.6 "/>
<polygon fill="#47B3DE" stroke="#47B3DE" stroke-width="-1" points="198.6,54.9 192.7,64.6 192.3,19.7 "/>
<polygon fill="#3B5B93" stroke="#3B5B93" stroke-width="-1" points="137.9,134.7 137.9,134.7 119.1,124.2 111.3,78.6 148.8,122.5 "/>
<polygon fill="#2A426A" stroke="#2A426A" stroke-width="-1" points="225.4,89.1 208.2,110.1 150.4,98 192.7,64.6 "/>
<polygon fill="#1697CB" stroke="#1697CB" stroke-width="-1" points="160.1,90.4 111.3,78.6 192.3,19.7 192.7,64.6 "/>
<polygon fill="#B05B30" stroke="#B05B30" stroke-width="-1" points="201.2,153 154.8,156.6 130.7,142.8 148.8,122.5 "/>
<polygon fill="#3B5B93" stroke="#3B5B93" stroke-width="-1" points="212.4,183.2 156.7,162.2 154.8,156.6 168.3,155.6 "/>
<polygon fill="#2A426A" stroke="#2A426A" stroke-width="-1" points="119.1,124.2 112.2,120 111.3,78.6 "/>
<polygon fill="#F3B51A" stroke="#F3B51A" stroke-width="-1" points="204.8,199.2 156.7,162.2 195.5,183.2 "/>
<polygon fill="#F4D10F" stroke="#F4D10F" stroke-width="-1" points="204.8,199.2 111.3,152 156.7,162.2 "/>
<polygon fill="#F2E926" stroke="#F2E926" stroke-width="-1" points="156.7,162.2 111.3,152 126.5,148.5 "/>
<polygon fill="#F68E1E" stroke="#F68E1E" stroke-width="-1" points="204.8,199.2 127.2,200.1 135.7,187 "/>
<polygon fill="#F3B51A" stroke="#F3B51A" stroke-width="-1" points="127.2,200.1 121.1,197.1 111.3,152 135.7,187 "/>
<polygon fill="#3B5B93" stroke="#3B5B93" stroke-width="-1" points="204.8,199.2 195.5,183.2 212.4,183.2 "/>
<polygon fill="#B05B30" stroke="#B05B30" stroke-width="-1" points="212.4,183.2 195.5,183.2 156.7,162.2 "/>
<polygon fill="#F1F1F2" stroke="#F1F1F2" stroke-width="-1" points="83,135.5 83.3,129.9 93.3,123.9 98.4,131.8 98.4,131.8 "/>
<polygon fill="#F1F1F2" stroke="#F1F1F2" stroke-width="-1" points="104.6,132.8 98.4,131.8 112.2,120 119.1,124.2 "/>
<polygon fill="#E6E7E8" stroke="#E6E7E8" stroke-width="-1" points="105.5,125.7 98.4,131.8 93.3,123.9 "/>
<polygon fill="#F3B51A" stroke="#F3B51A" stroke-width="-1" points="137.8,134.8 143.8,116.6 148.8,122.5 "/>
<polygon fill="#B05B30" stroke="#B05B30" stroke-width="-1" points="150.4,98 145.8,95.6 143.8,116.6 148.8,122.5 "/>
<polygon fill="#3B5B93" stroke="#3B5B93" stroke-width="-1" points="145.8,95.6 190.1,58.6 192.7,64.6 150.4,98 "/>
<polygon fill="#2A426A" stroke="#2A426A" stroke-width="-1" points="226.4,9.6 192.7,64.6 190.1,58.6 222.1,9.6 "/>
</svg></a>