<a href="/">
  <svg xmlns="http://www.w3.org/2000/svg" id="atomic-logo" viewBox="0 0 800 700">
    <g stroke-width="44.0574" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
      <path fill="none" stroke="#3BB7FF" d="M186.4 652l176.9-501.8c.9-2.7 4.8-3 5.7-.3l162 500.9S442.8 381 171.3 381c-81 0-89.9 50.9-89.9 59.9 0 108.8 261.9 116.5 371.3 116.5 162.1 0 265.1-40.3 265.1-117.4 0-120.4-182.5-119.6-182.5 0"/>
      <circle fill="#F7F7F8" stroke="#4946FC" cx="572.3" cy="436.1" r="37.8"/>
      <circle fill="#F7F7F8" stroke="#4946FC" cx="179.1" cy="236.9" r="37.8"/>
      <circle fill="#F7F7F8" stroke="#4946FC" cx="128.8" cy="501.2" r="37.8"/>
    </g>
  </svg>
  Atomic Guide
</a>
