<nav role="navigation" id="nav">
  <a href="#colors" id="tks-anchor-color">Colors</a>
  <a href="#icons" id="tks-anchor-icons">Icons</a>
  <a href="#helpers" id="tks-anchor-helpers">Helpers</a>
  <a href="#utilities" id="tks-anchor-utility">Utilities</a>
  <a href="#typography" id="tks-anchor-typography">Typography</a>
  <a href="#buttons" id="tks-anchor-buttons">Buttons</a>
  <a href="#forms" id="tks-anchor-forms">Forms</a>
  <a href="#navigation" id="tks-anchor-nav">Navigation</a>
  <a href="#patterns" id="tks-anchor-patterns">Patterns</a>
</nav>