<nav role="navigation" id="nav">
  <a href="#colors" id="atomic-colors">Colors</a>
  <a href="#icons" id="atomic-icons">Icons</a>
  <a href="#helpers" id="atomic-helpers">Helpers</a>
  <a href="#utilities" id="atomic-utilities">Utilities</a>
  <a href="#typography" id="atomic-typography">Typography</a>
  <a href="#buttons" id="atomic-buttons">Buttons</a>
  <a href="#forms" id="atomic-forms">Forms</a>
  <a href="#navigation" id="atomic-nav">Navigation</a>
  <a href="#patterns" id="atomic-patterns">Patterns</a>
</nav>