// Atomic Guide
// ===============================================

$atomic-colors: (
  white: #FFFFFF,
  athens-gray: #F7F7F8,
  gallery: #EEEEEE,

  sail: #ADD5F7,
  jordy-blue: #7FB2F0,
  indigo: #4E7AC7,
  chambray: #35478C,
  big-stone: #16193B,

  geraldine: #FF8589,
  froly: #EF7379,
  carnation: #F14F4F,
);

@import "assembler/prism";
@import "assembler/atomic-globals";
@import "assembler/atomic-swatch";
@import "assembler/index";


// App Utilities
// ===============================================
// App Atoms
// ===============================================
// App Molecules
// ===============================================
// App Organisms
// ===============================================
// App Views
// ===============================================
// App Helpers
// ===============================================