* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

img,
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

a[href*="top"] {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: opacity 400ms cubic-bezier(0.43, 0.01, 0.39, 0.99);
}
