#colors svg {
  max-width: 100%;
  width: 72px;
  height: 72px;
  transition: 200ms fill ease-in-out;

  &:hover {
    cursor: pointer;
  }

  // https://twitter.com/gryghostvisuals/status/572611473333043201
  // http://sassmeister.com/gist/89f3c3cc30a3e70713d3
  // http://www.codeshare.io/UIbrU
  @for $i from 1 through length($atomic-colors) {
    &:nth-of-type(#{$i}) {
      fill: nth(nth($atomic-colors, $i), 2);
      // &:hover {
      //   fill: lighten(nth(nth($atomic-colors, $i), 2), 10%);
      // }
    }
  }
}